.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 20px auto;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} @media screen and (max-width: 800px) {
  .wrapper {
    max-width: 100%;
    padding: 10px;
  }

}

.container {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.materialsContainer {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} @media screen and (max-width: 1300px) {
  .wrapper {
    flex-direction: column;
  }

}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width:100%;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #555;
}

.drawingsContainer {
  margin-top: 10px;
  margin-bottom: 5%;
}

.sectionTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.drawingItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-right: 10px;
  color: #d32f2f;
}

.iconExcel {
  margin-right: 10px;
  color: #22d319;
}

.iconImage {
  margin-right: 10px;
  color: rgb(0, 123, 255);
}

.drawingLink {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.newButton {
  position: absolute;
  right: 0;
  top: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 10px;
  flex: 1 1 100%;
}
.stateContainer {
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 20px;
}

.selectDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.selectStyle {
  width: 60%;
  max-width: 300px;
}

.groupDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 10px;
  width: 70%;
}


@media screen and (max-width: 1300px) {
  .wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .stateContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .selectDiv {
    flex-direction: column;
    align-items: center;
  }

  .selectStyle {
    width: 100%; /* Hacer que ocupe todo el ancho disponible */
    margin-bottom: 10px;
  }

  .groupDiv {
    width: 100%;
    margin-right: 0;
  }

  .newDrawButton {
    width: 100%; /* Botón adaptado para pantallas pequeñas */
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .selectDiv {
    flex-direction: column;
    width: 100%;
  }

  .selectStyle {
    font-size: 14px; /* Texto más pequeño para pantallas pequeñas */
  }

  .groupDiv {
    margin-bottom: 10px;
  }
}