/* Estilos para la clase personalizada 'select-error' */
.select-error__control {
  border-color: #dc3545 !important; /* Color rojo */
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important; /* Sombra roja */
}

.select-error__indicator-separator {
  background-color: #dc3545 !important;  /* Color rojo para separador */
}

.select-error__dropdown-indicator {
  color: #dc3545 !important;  /* Color rojo para el icono de la flecha */
}
