.modal-content{
  flex-direction: row;
}
.form-column{
  width: 50%;
  margin-top: 1%;
  margin-bottom: 3%;
}
@media (max-width: 600px) {
  .modal-content {
    flex-direction: column; /* Cambia a diseño en columna */
  }

  .modal-content .form-column {
    width: 100%; /* Asegúrate de que el ancho sea el 100% */
    padding: 0; /* Elimina el padding entre columnas en pantallas pequeñas */
    border-right: none; /* Elimina la línea divisoria */
  }
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}

@media (min-width: 600px) {
  .modal-content .form-column {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #ddd;
  }
}
